<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <% include ../partials/navbar.ejs %>

        <main class="container">
            <header class="jumbotron my-4">
                <h3>Wiki Collaborations</h3>
            </header>
            <ul class= "list-group">
                <% if(currentUser) { %>
                    <% collaborators.forEach((collaborator) => { %>
                        <li class="list-group-item">
                            <a href="/wikis/<%= collaborator.wikiId %>/collabs/<%= collaborator.id %>"><%= collaborator.email %></a>
                        </li>
                    <% }) %>
                <% } %>
            </ul>
        </main>
    </body>
</html>