<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>

        <% include ./partials/navbar.ejs %>

        <div class="container">

            <header class="jumbotron my-4">
                <h1 class="display-3">Blocipedia</h1>
                <p class="lead">Knowledge is meant to be shared.</p>
                <a href="/users/sign_up" class="btn btn-success btn-lg">Sign up</a>
            </header>
            <section class="row text-center">
                <section class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://i.ibb.co/brBV04m/book-book-bindings-books-768125.jpg" alt="Books stacked on a shelf">
                            <div class="card-body">
                                <h5 class="card-title">Add Wikis</h5>
                                <p class="card-text">Find something interesting? Create a wiki and share it with other users.</p>
                            </div>
                        </div>
                </section>
                <section class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://i.ibb.co/DWrzQ6V/action-plan-brainstorming-complex-212286.jpg" alt="research">
                            <div class="card-body">
                                <h5 class="card-title">Control Your Experience</h5>
                                <p class="card-text">Choose between free and premium plans with the option to create private wikis for research.</p>
                            </div>
                        </div>
                </section>
                <section class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://i.ibb.co/jTtJ541/astronaut-astronomy-cosmos-2156.jpg" alt="research">
                        <div class="card-body">
                            <h5 class="card-title">A World of Knowledge at Your Fingertips</h5>
                            <p class="card-text">New and exciting wikis are created every day.</p>
                        </div>
                    </div>
                </section>
            </section>

            <br>

            <% if(currentUser && currentUser.role === 0) { %>
                <section class="col-lg-4">
                        <div class="card" style="width: 55rem; padding: 5px;">
                            <div class="card-body">
                                    <a href="/users/<%=currentUser.id%>/upgrade" class="btn btn-primary">Upgrade Account</a>
                                    <br>
                                    <div class="card-text">Become a Premium Member, and unlock private wikis.</div>
                                    <hr>
                                    <small>User Account: Standard</small>
                            </div>
                        </div>
                </section>
            <% } %>
            <% if(currentUser && (currentUser.role === 1)) { %>
                <div>
                    <a href= "/users/<%=currentUser.id%>/downgrade" class="btn btn-primary">Downgrade Account</a>
                    <hr>
                    <small>User Account: Premium</small>
                </div>
            <% } %>
            <% if(currentUser && (currentUser.role === 2)) { %>
                <div>
                    <small>Administrator Access</small>
                </div>
            <% } %>
        </div>
        <% include ./partials/baseScripts.ejs %>
    </body>
</html>