<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/messages.ejs %>
        <% include ../static/partials/navbar.ejs %>
        <main class="container">
            <h2>Collabs</h2>

            <ul class="list-group">
                <% if(currentUser) { %>
                    <% collaborations.forEach((collaboration) => { %>
                        <li class="list-group-item">
                            <a href="/wikis/<%= collaboration.wikiId %>">
                                <%- markdown.toHTML(collaboration.Wiki.title) %>
                            </a>
                        </li>
                    <% }) %>
                <% } %>
            </ul>
        </main>
        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>