<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <% include ../static/partials/messages.ejs %>

            <h2>Downgrade Account</h2>
            <form action="/users/<%= currentUser.id %>/downgrade" method="POST">
                <button type="submit" class="btn btn-danger">Downgrade</button>
            </form>
            <small>We're sad to see you go!</small>
            <small>Please note that all private wikis will become public.</small>
        </main>
    </body>
</html>
