<!DOCTYPE html>
<html>
  <head>
      <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <% include ../static/partials/messages.ejs %>

        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Welcome to Blocipedia</p>
                </div>
                <form method="POST" action="/users">
                  <div class="form-content">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Name:</label>
                                  <input type="text" class="form-control" placeholder="Enter Name"/>
                              </div>
                              <div class="form-group">
                                  <label>Email:</label>
                                  <input type="email" name="email" placeholder="Enter Email" class="form-control"/>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Password:</label>
                                  <input type="password" name="password" placeholder="Enter Password" class="form-control"/>
                              </div>
                              <div class="form-group">
                                  <label>Password:</label>
                                  <input type="password" name="password_conf" placeholder="Enter Password confirmation" class="form-control"/>
                              </div>
                          </div>
                      </div>
                      <input type="submit" class="btn btn-primary" value="Sign Up"/>
                  </div>
                </form>
            </div>
        </div>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>